*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: tomato;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   
}
#logotipo{
    width: 90px;
}
.lista1{
    display: flex;
}
.li1{
    list-style: none;
    color: white;
    font-size: 22px;
    margin: 0 10px;
    font-weight: 600;
}
.li1:hover{
    color: blue;
    cursor: pointer;
    font-size: 25px;
}
section{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
}

.div_card{
    width: 200px;
    min-width: 200px;
    padding: 5px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    margin-bottom: 10px;
}
.img_card{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.div_card > p{
    font-size: 12px;
}

#menu{
    display: none;
}

footer{
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    align-items: center;
}

footer > ul >li{
    list-style: none;
    margin-bottom: 3px;
    font-weight: 600;
}

footer > p{
    font-weight: 600;

}

@media screen and (max-width:700px) {
    header{
        background-color: aqua;
    }
    .lista1{
        display: none;
    }
    #menu{
        display: block;
        width: 35px;
    }
}